{% extends "layout.html" %} 
{% block content %}
  <div class="container">
    <h1 class="text-center mt-5 mb-3">Search Nutritionix</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="form" action="{{ url_for('results') }}" method="POST" >
          <label for="searchterm" hidden=true>Search: </label>
          <input type="text" id="search" name="searchterm" placeholder="e.g. Pizza" required><br><br>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  



{% endblock %}
